{% extends 'base.html' %}
{% block content %}
<h1>MIAU</h1>

<h5>Name and Class: </h5>
<p>{{ id }}<p>

<h5>Price: </h5>
<p>{{ price }}</p>

<h5>Description: </h5>
<p>{{ description }}</p>

{% if not product_entries %}
<p>There are no package data in MIAU.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} This is how to display product data
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.time}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add Package</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Last login session: {{ last_login }}</h5>
{% endblock content %}